# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar arquivos de log
*.log
execution_log.log

# Ignorar arquivos CSV específicos
data/csvS/jsonCasas

# Ignorar ambiente virtual
.venv/

# Ignorar arquivos de configuração do VS Code
.vscode/

# Ignorar diretórios de prints e screenshots
screenshots/
prints/
